<div class="container">
  <div class="jumbotron">
    <h1>Hello There!!</h1>
  </div>
  <div class="panel panel-primary">
    
    <div class="panel-body">

      <nav>
        <a routerLink='/home' routerLinkActive='active'>Home</a><br>
        <a routerLink='/employees' routerLinkActive='active'>Employee Table</a>
      </nav>
      
      <!-- <app-test></app-test>
      <app-employee-list></app-employee-list> -->
      <router-outlet></router-outlet>

      
      
    </div>
  </div>
</div>
